<p style="color: green"><%= notice %></p>

<h1>Species</h1>
<%= paginate @species%>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Classification</th>
    <th>Language</th>
    <th>Actions</th>
  </tr>
  <% @species.each do |species| %>
    <%= render partial: "species", locals: { species: species } %>
  <% end %>
</table>

<%= link_to "New species", new_species_path %>
