<div class="container">
  <p class="has-text-success"><%= notice %></p>

  <h1 class="title is-1 mt-5">Vehicles</h1>

  <%= paginate @vehicles, class: 'pagination is-centered is-small' %>

  <table class=class="table is-striped is-fullwidth mt-3">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Model</th>
        <th>Manufacturer</th>
      </tr>
    </thead>
    <tbody>
      <% @vehicles.each do |vehicle| %>
        <%= render partial: "vehicle", locals: { vehicle: vehicle } %>
      <% end %>
    </tbody>
  </table>

  <%= link_to "New vehicle", new_vehicle_path, class: "button is-primary" %>
</div>
