<div class="container">
  <p class="has-text-success"><%= notice %></p>

  <h1 class="title is-1 mt-5">Starships</h1>

  <%= paginate @starships, class: 'pagination is-centered is-small' %>

  <table class="table is-hoverable is-striped is-fullwidth mt-3">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Model</th>
        <th>Manufacturer</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @starships.each do |starship| %>
        <%= render partial: "starship", locals: { starship: starship } %>
      <% end %>
    </tbody>
  </table>

  <%= link_to "New starship", new_starship_path, class: "button is-primary" %>
</div>
