<div class="container">
  <p class="text-success"><%= notice %></p>

  <h1 class="mt-5">Starships</h1>

  <%= paginate @starships, class: "pagination justify-content-center" %>

  <table class="table mt-3">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Model</th>
        <th>Manufacturer</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @starships.each do |starship| %>
        <%= render partial: "starship", locals: { starship: starship } %>
      <% end %>
    </tbody>
  </table>

  <%= link_to "New starship", new_starship_path, class: "btn btn-primary" %>
</div>
