<h1>Characters with the same Starships:</h1>
<ul>
  <% @people_with_starships.each do |person| %>
    <li><%= link_to person.name, person %></li>
  <% end %>
</ul>

<p><%= link_to 'Back to person', @person %></p>
