<div id="<%= dom_id planet %>">
  <p>
    <strong>Name:</strong>
    <%= planet.name %>
  </p>

  <p>
    <strong>Diameter:</strong>
    <%= planet.diameter %>
  </p>

  <p>
    <strong>Population:</strong>
    <%= planet.population %>
  </p>

</div>
