<p style="color: green"><%= notice %></p>

<h1>Planets</h1>

<%= paginate @planets%>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Diameter</th>
    <th>Population</th>
    <th>Actions</th>
  </tr>
  <% @planets.each do |planet| %>
    <%= render partial: "planet", locals: { planet: planet } %>
  <% end %>
</table>

<%= link_to "New planet", new_planet_path %>
