<div id="<%= dom_id starship %>">
  <p>
    <strong>Name:</strong>
    <%= starship.name %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= starship.model %>
  </p>

  <p>
    <strong>Manufacturer:</strong>
    <%= starship.manufacturer %>
  </p>

</div>
